
.courses{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
#main{
    display: grid;
    grid-template-columns: 1fr 3fr;
   
}

@media screen and (max-width:668px) {

    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }

    #main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}

